<div class="list-group">
    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <input type="text" id="boardText" class="form-control" placeholder="축하 메시지를 남겨주세요.">
        </div>
        <p class="mb-1"></p>
        <button id="boardWrite" type="button" class="btn btn-default">글쓰기</button>
    </div>
</div>

<ul class="nav nav-tabs" style="border-bottom: none;display:block;">
    <li role="presentation" class="active" id="boardRecent"><a href="javascript:void(0);">최신순</a></li>
    <li role="presentation" id="boardOlder"><a href="javascript:void(0);">과거순</a></li>
</ul>

<div class="list-group" id="boardList">

</div>

<button id="boardMore" type="button" class="btn btn-default btn-lg btn-block" style="border-radius: 0px">
    더보기
</button>


<!-- Modal -->
<div class="modal fade" id="guppyLoginModal" role="dialog">
</div>
