<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h5 class="modal-title">로그인후 축하메시지를 작성해주세요</h5>
        </div>
        <div class="modal-body">
            <a class="btn btn-block btn-social btn-kakao">
                <i class="fa fa-kakao"></i>
                카카오 로그인
            </a>
            <a class="btn btn-block btn-social btn-facebook" href="/login/facebook">
                <i class="fa fa-facebook"></i>
                페이스북 로그인
            </a>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
