<ol class="breadcrumb">
    <li>
        <a class="btn btn-social-icon btn-sm btn-kakao">
            <span class="fa fa-kakao"></span>
        </a>
    </li>
    <li>
        <a href="/login/facebook" class="btn btn-social-icon btn-sm btn-facebook">
            <span class="fa fa-facebook"></span>
        </a>
    </li>
</ol>

<div class="list-group">
    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <input type="text" class="form-control" placeholder="축하 메시지를 남겨주세요.">
        </div>
        <p class="mb-1"></p>
        <button id="boardWrite" type="button" class="btn btn-light">글쓰기</button>
    </div>
</div>

<ul class="nav nav-tabs" style="border-bottom: none;">
    <li role="presentation" class="active"><a href="#">최신순</a></li>
    <li role="presentation"><a href="#">과거순</a></li>
</ul>

<div class="list-group">
    {{#content}}
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{title}}</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">{{contents}}</p>
        <small>Donec id elit non mi porta.</small>
    </a>
    {{/content}}
</div>

<button id="boardMore" type="button" class="btn btn-light btn-lg btn-block">더보기</button>

<!-- Modal -->
<div class="modal fade" id="guppyLoginModal" role="dialog">
</div>
