<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="scriptsFragment">
    <script src="/guppy/dist/common.js"></script>
    <script src="/guppy/dist/app.js"></script>

    <script type="text/javascript">
        $( document ).ready(function() {
            $('#write').bind('click', function (e) {
                e.preventDefault();


                var boardJson = {
                    "title": "게시글1",
                    "content": "게시글 첫번째 내용"
                };

                var promise = $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: "/api/board/write",
                    type: "POST",
                    data: JSON.stringify(boardJson),
                    dataType: 'json'
                });

                promise.done(function (data){
                    console.log(data);
                })
            });
        });
    </script>
</div>

</html>