<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{home/layout/layout}">
<head>
    <title>Hello, guppy!</title>
    <!-- meta tags 필요 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<div layout:fragment="homeFragment">
    <div id="guppyLayout">

    </div>



    <script src="/guppy/dist/common.js"></script>
    <script src="/guppy/dist/app.js"></script>

</div >

</body>
</html>